ConnectionStrings__Default=Server=HOST;Port=3306;Database=clinica_jurassihealth;Uid=USUARIO;Pwd=SENHA;
Auth__SecretKey=troque-por-uma-chave-com-mais-de-32-caracteres
AdminPadrao__Email=admin@exemplo.com
AdminPadrao__SenhaHash=HASH_BCRYPT

Email__Smtp__Host=smtp.seuprovedor.com
Email__Smtp__Port=587
Email__Smtp__User=usuario_smtp
Email__Smtp__Password=senha_smtp
Email__Smtp__FromEmail=nao-responda@seu-dominio.com
Email__Smtp__FromName=Clinica JurassiHealth
Email__Smtp__EnableSsl=true
